@import "_debug";

.hp {
    display: inline-block;
    width: 30px;
    height: 10px;
    margin: 0 5px 0 0;
}
.shield .hp {
    background: #47e;
}
.health .hp {
    background: #e22;
}

.health, .shield {
    display: inline-block;
}
canvas {
    background: url('/images/starfield.png') 0 0 no-repeat #1a3450;
}