.hp { display: inline-block; width: 30px; height: 10px; margin: 0 5px 0 0; }

.shield .hp { background: #47e; }

.health .hp { background: #e22; }

.health, .shield { display: inline-block; }

canvas { background: url("/images/starfield.png") 0 0 no-repeat #1a3450; box-shadow: 0 0 5px white; }

body { background: #1a3450; color: white; font-family: Helvetica, Arial, sans-serif; font-size: 14px; padding: 0; margin: 0; }

nav { background: #09131d; }
nav .container { padding: 10px 0; }

a, a:visited, a:hover { color: white; }

.container { width: 980px; margin: auto; }

.ui { width: 300px; float: right; }
.ui a { display: block; padding: 5px 0; }
.ui ul { padding: 10px 0 0; margin: 0; list-style-type: none; }
.ui li { padding: 5px 0; }

#play, #replay { font-size: 28px; font-weight: bold; text-decoration: none; padding: 5px 10px; background: #09131d; width: 100px; text-align: center; margin-bottom: 10px; box-shadow: 0 0 5px white; }

#replay { display: none; }

.message { width: 100%; background: #09131d; font-size: 40px; font-weight: bold; text-align: center; padding: 1em 0; display: none; position: absolute; top: 40%; left: 0; }
